@page "/events/list"
@inject EventService EventService
@inject UserSessionService UserSessionService
@using EventEaseWebAssembly.Components

<h3>Event List</h3>

@if(UserSessionService.IsUserLoggedIn())
{
    @if (EventService.GetEvents().Count == 0)
    {
        <p>There are no events. <NavLink href="/events/register">Create a new event</NavLink></p>
    }
    else
    {
        <Virtualize Items="@EventService.GetEvents()" Context="eventItem">
            <EventCard Event="eventItem" />
        </Virtualize>
    }
}
else {
    <p>Login to view events. <NavLink href="/login">Login</NavLink></p>
}
